{% extends 'index.html' %}
<html lang="zh">
{% load static from staticfiles %}
{% block title %}
    注册
{% endblock title %}
<body>
{% block container %}
    <div class="jumbotron">
    <div class="container">
        <div style="margin: 0 auto; text-align: center">
        <h3>{{ title }}</h3>
        {% if message %}
        <p>{{ message }}</p>
            {% else %}
            <p>404 NOT FOUND</p>
        {% endif %}
        </div>
    </div>
    </div>
{% endblock container %}
{% block page %}
{% endblock page %}
</body>
</html>