{% load static from staticfiles %}
{% block con-head %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}安妮JOKE--你见过我的小熊吗{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.css' %}">
</head>
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
{% endblock con-head %}
<body>
    {% block header %}
    <div class="head">
    {#  这是开始  #}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/index/" title="安妮的Joke">AnneJoke</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/index/">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="#">视频</a></li>
    {#            <li class="dropdown">#}
    {#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
    {#              <ul class="dropdown-menu">#}
    {#                <li><a href="#">Action</a></li>#}
    {#                <li><a href="#">Another action</a></li>#}
    {#                <li><a href="#">Something else here</a></li>#}
    {#                <li role="separator" class="divider"></li>{# 分割线 #}
    {#                <li><a href="#">Separated link</a></li>#}
    {#                <li role="separator" class="divider"></li>{# 分割线 #}
    {#                <li><a href="#">One more separated link</a></li>#}
    {#              </ul>#}
    {#            </li>#}
              </ul>
              <form class="navbar-form navbar-left " method="post">
                  {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="今日份沙雕">
                </div>
                <button type="submit" class="btn btn-default " disabled>搜索</button>
              </form>
              {% if username %}
                  <ul class="nav navbar-nav navbar-right">
                      <li><a class="navbar-brand" href="#">
                          <p>{{ user_head_image }}</p>
                            <img alt="Brand" class="img-circle" style="width: 30px; margin-top: -20px" src="/static/media/{{ head_image }}">
                        </a></li>
                    <li role="presentation"><a href="#">我的消息 <span class="badge" style="background-color: red">3</span></a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ username }} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">我的资料</a></li>
                        <li><a href="#">我的发布</a></li>
                        <li><a href="/upload/">发布文章</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" id="user-logout">登出</a></li>
                          <form action="">
                              {% csrf_token %}
                          </form>
                          <script>
                              $('#user-logout').click(function () {
                                   $.ajax({
                                   url: "/login/",
                                   async: false,
                                   type: "get",
                                   data: {
                                       "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()
                                   }
                                })
                                });
                          </script>
                      </ul>
                    </li>
                  </ul>
                  {% else %}
                  <ul class="nav navbar-nav navbar-right">
{#                    <li><a href="/login/" class="btn-default" data-toggle="modal" data-target="#exampleModel">请登录/注册</a></li>#}
                    <li><button type="button" id="LoginRegister" style="margin-top: 8px; margin-left: 10px" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">登录</button></li>
                    <li><button type="button" id="Register" style="margin-top: 8px;  margin-left: 10px" class="btn btn-primary" data-toggle="modal" data-target="#RegisterModal">注册</button></li>
                  </ul>

                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 200px">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="hidden-login" aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">登陆界面</h4>
                          </div>
                          <div class="modal-body">
                            <form action="/login/" method="post">
                                {% csrf_token %}
                              <div class="form-group">
                                <label for="recipient-name" class="control-label">账号：</label>
                                <input type="email" name="email" class="form-control" id="recipient-name" required>
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="control-label">密码：</label>
{#                                <textarea class="form-control" id="message-text"></textarea>#}
                                  <input type="password" name="password" class="form-control" id="message-text" required>
                              </div>

                                <div class="form-group">
                                <label for="message-text" class="control-label">验证码(字母只有小写)：</label>
                                    <img src=""  alt="123" id="loadImages">
                                    <div>
                                      <input type="text" name="verify_code" class="form-control" style="width: 75%;" id="verify-code" required>
                                        <div class="glyphicon glyphicon-ok hidden" id="isTrue" style="width: 25%; text-align: center; float: right; margin-top: -25px"></div>
                                        <div class="glyphicon glyphicon-remove hidden" id="isFalse" style="width: 25%; text-align: center; float: right; margin-top: -25px"></div>
                                    </div>
                              </div>
                                <script>

                                        $("#LoginRegister").click(function () {
                                            $("#isTrue").addClass("hidden");
                                            $("#isFalse").addClass("hidden");
                                            $.ajax({
                                                url: '/loadimg/',
                                                type: "post",
                                                data: {
                                                    "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()
                                                },
                                                success : function (result) {
                                                    let dic = result.split(',') ;
                                                    let code = dic[0].slice(2,-1).toLowerCase();
                                                    $('#loadImages').attr('src', dic[1].slice(2)+','+dic[2].slice(2, -3));
                                                    $("#verify-code").keyup(function () {
                                                        let user_input_verfy = $("#verify-code").val();
                                                        if (user_input_verfy !== code){
                                                            $("#isFalse").removeClass('hidden');
                                                            $("#isTrue").addClass("hidden");
                                                            $('#login-commit').attr("disabled", "disabled");
                                                        } else {
                                                            $("#isTrue").removeClass("hidden");
                                                            $("#isFalse").addClass('hidden');
                                                            $("#login-commit").removeAttr("disabled")
                                                        }
                                                    });
                                                }
                                            })
                                        });
                                        $("#loadImages").click(function () {
                                            $("#isFalse").attr('disabled', "disabled");
                                            $("#isTrue").removeAttr("disabled");
                                            $.ajax({
                                                url: '/loadimg/',
                                                type: "post",
                                                data: {
                                                    "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()
                                                },
                                                success: function (result) {
                                                    let dic = result.split(',') ;
                                                    let code = dic[0].slice(2,-1).toLowerCase();
                                                    $("#loadImages").removeAttr("src");
                                                    $('#loadImages').attr('src', dic[1].slice(2)+','+dic[2].slice(2, -3));
                                                    $("#verify-code").keyup(function () {
                                                        let user_input_verfy = $("#verify-code").val();
                                                        console.log(user_input_verfy);
                                                        if (user_input_verfy !== code){
                                                            $("#isFalse").removeClass('hidden');
                                                            $("#isTrue").addClass("hidden");
                                                            $('#login-commit').attr("disabled", "disabled");
                                                        } else {
                                                            $("#isTrue").removeClass("hidden");
                                                            $("#isFalse").addClass('hidden');
                                                            $("#login-commit").removeAttr("disabled")
                                                        }
                                                    });
                                                }
                                            })
                                        })


                                    </script>

{#                                <input type="submit" hidden id="login-submit">#}
                            </form>
                              <p id="login-message" style="color: red;"></p>
                          </div>
                          <div class="modal-footer">
                              <a href="javascript:" id="login-register">没有账号？点此注册！</a>
                              <a href="/retrieve/">忘了密码？点此找回！</a>
                              <script>
                                  $("#login-register").click(function () {
                                      $("#hidden-login").click();
                                      $("#Register").click();
                                  })
                              </script>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" disabled="false" id="login-commit" class="btn btn-primary">登陆</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <script>
                        $('#login-commit').click(function () {
                            let usernamed = $("#recipient-name").val();
                            let passworde = $("#message-text").val();
                            if (usernamed && passworde != null){
                               $.ajax({
                                    url: "/login/",
                                    type: 'post',
                                   async: false,
                                    data: {
                                        "email": usernamed,
                                        "password": passworde,
                                        "verify": $("#verify-code").val(),
                                        "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()
                                    },
                                    success: function (result) {
                                        $("#login-message").text(result);
                                        if (result === " ") {
                                            location.reload()
                                        }
                                    }
                                });
                            }else {
                                $("#login-message").text("账号或者密码不可为空！");
                                $("#verify-code").click();
                            }
                            });


                  </script>


{#                ----------------------------  注册界面     -------------------------------             #}

                  <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 200px">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="hidden-register" aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">注册界面</h4>
                          </div>
                          <div class="modal-body">
                            <form action="/register/" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group">
                                <label for="message-text" class="control-label">头像：<span id="headimg_err"></span></label>
{#                                <textarea class="form-control" id="message-text"></textarea>#}
                                  <input type="file" name="headimage" accept="image/jpeg, image/png" class="form-control" id="headimage" required>
                              </div>

                                <div class="form-group">
                                <label for="message-text" class="control-label">昵称：<span id="nickname_err"></span></label>
{#                                <textarea class="form-control" id="message-text"></textarea>#}
                                  <input type="text" name="nickname" class="form-control" id="nickname" required>
                              </div>
                                <script>
                                      $("#nickname").blur(function () {
                                          let name = $("#nickname").val();
                                          console.log(name.length);
                                          $.ajax({
                                              url: "/register/",
                                              type: "get",
                                              data: {
                                                  "nickname": $("#nickname").val(),
                                              },
                                              success: function (result) {
                                                  if (result === "false"){
                                                      $("#nickname_err").attr('style', "color: red").text("该昵称已经被占用了，请重新输入");
                                                  } else {
                                                      $("#nickname_err").attr('style', "color: blue").text("可以使用的昵称");
                                                  }

                                              }
                                          })
                                      })
                                  </script>

                              <div class="form-group">
                                <label for="recipient-name" class="control-label">邮箱：<span id="register-email"></span></label>
                                <input type="email" name="email" class="form-control" id="register-recipient-name" required>
                                  <script>
                                      $("#register-recipient-name").blur(function () {
                                          $.ajax({
                                              url: "/register/",
                                              type: "get",
                                              data: {
                                                  "email": $("#register-recipient-name").val()
                                              },
                                              success: function (result) {
                                                  if (result === "false"){
                                                      $("#register-email").attr('style', "color: red").text("该账户已经被使用了，请重新输入");
                                                  } else {
                                                      $("#register-email").attr('style', "color: blue").text("可以使用的账号");
                                                  }

                                              }
                                          })
                                      })
                                  </script>
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="control-label">密码：</label>
{#                                <textarea class="form-control" id="message-text"></textarea>#}
                                  <input type="password" name="first-password" class="form-control" id="register-message-text" required>
                              </div>
                                <div class="form-group">
                                <label for="message-text" class="control-label">重复密码：<span style="color: red"  class="hidden" id="register2-message-error">两次输入密码不一致，请检查之后重新输入</span></label>
{#                                <textarea class="form-control" id="message-text"></textarea>#}
                                  <input type="password" name="second-password" class="form-control" id="register2-message-text" required>
                              </div>
                                <script>
                                    $("#register2-message-text").keyup(function () {
                                        if ($("#register-message-text").val() !== $("#register2-message-text").val()){
                                            $("#register2-message-error").removeClass("hidden");
                                        } else {
                                            $("#register2-message-error").addClass("hidden");
                                        }
                                    })

                                </script>

                                <div class="form-group">
                                <label for="message-text" class="control-label">验证码(字母只有小写)：</label>
                                    <img src=""  alt="123" id="register_loadImages">
                                    <div>
                                      <input type="text" name="verify_code" class="form-control" style="width: 75%;" id="register-verify-code" required>
                                        <div class="glyphicon glyphicon-ok hidden" id="register-isTrue" style="width: 25%; text-align: center; float: right; margin-top: -25px"></div>
                                        <div class="glyphicon glyphicon-remove hidden" id="register-isFalse" style="width: 25%; text-align: center; float: right; margin-top: -25px"></div>
                                    </div>
                              </div>
                                <script>

                                        $("#Register").click(function () {
                                            $("#register-isTrue").addClass("hidden");
                                            $("#register-isFalse").addClass("hidden");
                                            $.ajax({
                                                url: '/loadimg/',
                                                type: "post",
                                                data: {
                                                    "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()
                                                },
                                                success : function (result) {
                                                    let dic = result.split(',') ;
                                                    let code = dic[0].slice(2,-1).toLowerCase();
                                                    $('#register_loadImages').attr('src', dic[1].slice(2)+','+dic[2].slice(2, -3));
                                                    $("#register-verify-code").keyup(function () {
                                                        let passworde2 = $("#register2-message-text").val();
                                                        let passworde = $("#register-message-text").val();
                                                        if (passworde !== passworde2) {
                                                            $('#register-commit').attr("disabled", "disabled");
                                                        }else{
                                                        let user_input_verfy = $("#register-verify-code").val();
                                                        if (user_input_verfy !== code){
                                                            $("#register-isFalse").removeClass('hidden');
                                                            $("#register-isTrue").addClass("hidden");
                                                            $('#register-commit').attr("disabled", "disabled");
                                                        } else {
                                                            $("#register-isTrue").removeClass("hidden");
                                                            $("#register-isFalse").addClass('hidden');
                                                            $("#register-commit").removeAttr("disabled")
                                                        }}
                                                    });
                                                }
                                            })
                                        });
                                        $("#register_loadImages").click(function () {
                                            $("#register-isFalse").attr('disabled', "disabled");
                                            $("#register-isTrue").removeAttr("disabled");
                                            $.ajax({
                                                url: '/loadimg/',
                                                type: "post",
                                                data: {
                                                    "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()
                                                },
                                                success: function (result) {
                                                    let dic = result.split(',') ;
                                                    let code = dic[0].slice(2,-1).toLowerCase();
                                                    $("#register_loadImages").removeAttr("src");
                                                    $('#register_loadImages').attr('src', dic[1].slice(2)+','+dic[2].slice(2, -3));
                                                    $("#register-verify-code").keyup(function () {
                                                        let user_input_verfy = $("#register-verify-code").val();
                                                        console.log(user_input_verfy);
                                                        let passworde2 = $("#register2-message-text").val();
                                                        let passworde = $("#register-message-text").val();
                                                        if (passworde !== passworde2) {
                                                            $('#register-commit').attr("disabled", "disabled");
                                                        }else{
                                                        if (user_input_verfy !== code){
                                                            $("#register-isFalse").removeClass('hidden');
                                                            $("#register-isTrue").addClass("hidden");
                                                            $('#register-commit').attr("disabled", "disabled");
                                                        } else {
                                                            $("#register-isTrue").removeClass("hidden");
                                                            $("#register-isFalse").addClass('hidden');
                                                            $("#register-commit").removeAttr("disabled")
                                                        }}
                                                    });
                                                }
                                            })
                                        })


                                    </script>

                                <input type="submit" hidden id="register-submit">
                            </form>
                              <p id="register-message" style="color: red;"></p>
                          </div>
                          <div class="modal-footer">
                              <a href="javascript:" id="register-login">已有账号？点此登陆。</a>
                              <script>
                                  $("#register-login").click(function () {
                                      var $btn2 = $(this).button('登陆中..');
                                        $btn2.button('reset');
                                      $("#hidden-register").click();
                                      $("#LoginRegister").click();
                                  })
                              </script>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" disabled="false" id="register-commit" class="btn btn-primary">注册</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  <script>
                        $('#register-commit').click(function () {
                            var $btn1 = $(this).button('注册中..');
                            $btn1.button('reset');
                            $("#register-submit").click()
                            });


                  </script>

{#               ---------------------------   注册界面    --------------------------------              #}


                {% endif %}
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    {#  这是结束  #}
    </div>
    {% endblock header %}
    {% block container %}
    <div class="container">
            <div class="row">
              <div class="col-xs-12 ">


              {% for joke in joke_page %}

                <div class="thumbnail">
                    <div class="user_img">
                      <img src="/static/media/{{ joke.user.user_head_image }}" class="img-circle" style="width: 30px;" alt="...">
                        <a href="#">{{ joke }}</a>{# ----点击用户----- #}
                    </div>
                  <div class="caption">
                      <p>{{ joke.joke_content }}</p>
                      <br><br>
                          <img src="/static/media/{{ joke.joke_image }}" class="big-image" style="width: 300px; display: table; margin: 0 auto" alt="加载失败">
                    {% if username %}
{#                    <p><br><button href="javascript:" class="btn btn-primary" id="fabulous{{ joke.id }}" role="button">点赞(999+)</button> <a href="javascript:" id="comment{{ joke.id }}" data-toggle="modal" data-target="#commentModel{{ joke.id }}" class="btn btn-default" role="button">评论(999+)</a> <a href="javascript:" id="setpon{{ joke.id }}" class="btn btn-danger" role="button">鄙视(999+)</a></p>#}
                    <p><br><button href="javascript:" class="btn btn-primary" id="fabulous{{ joke.id }}" role="button">点赞(999+)</button> <a href="javascript:" id="comment{{ joke.id }}" data-toggle="collapse" data-target="#collapseExample{{ joke.id }}" class="btn btn-default" role="button">评论(999+)</a> <a href="javascript:" id="setpon{{ joke.id }}" class="btn btn-danger" role="button">鄙视(999+)</a></p>
                      {% else %}
                    <p><br><button href="javascript:" class="btn btn-primary disabled" title="登陆畅想更多特权" disabled id="fabulous{{ joke.id }}" role="button">点赞(999+)</button> <a href="javascript:" id="comment{{ joke.id }}" data-toggle="modal" data-target="#commentModel{{ joke.id }}" class="btn btn-default" role="button">评论(999+)</a> <a href="javascript:" id="setpon{{ joke.id }}" class="btn btn-danger disabled" title="登陆畅想更多特权" disabled role="button">鄙视(999+)</a></p>
                      {% endif %}
                      <script>
                          $("#comment{{ joke.id }}").click(function () {
                              let qw =$("#comment-all{{ joke.id }}").hasClass('isComment{{ joke.id }}');
                              if (qw === true){
                                  $("#comment-all{{ joke.id }}").removeClass('isComment{{ joke.id }}');
                                  $.ajax({
                                  url: '/comment/',
                                  type: "get",
                                  data: {
                                      "joke_id": {{ joke.id }}
                                  },
                                  success: function (e) {
                                      if (e==='{}'){
                                        let elementq = '<p id="content-detailx" style="text-align: center" >哎呀呀，暂时没有人评论哦！快来抢沙发吧。</p>'
                                        $("#comment-all{{ joke.id }}").append(elementq)
                                      }else {
                                          let q = $.parseJSON(e);
                                          for (let key in q){
                                              let element = '<div class="form-group" id="comment-all{{ joke.id }}">\n' +
                                                  '<label for="recipient-name" class="control-label" id="comment_user{{ joke.id }}"><img src="/static'+q[key][2]+'" class="img-circle" style="width: 30px" alt="user_headImg{{ joke.id }}"><a\n' +
                                                  'href="#" style="margin-left: 15px">'+q[key][0]+'：</a></label>\n' +
                                                  '<p id="content-detail{{ joke.id }}">'+q[key][1]+'</p>\n' +
                                                  '</div>';
                                              $("#comment-all{{ joke.id }}").append(element)
                                          }
                                      }

                                  }

                              })


                              }else {

                              }
                          })
                      </script>
                                <div class="collapse" id="collapseExample{{ joke.id }}">
                                  <div class="well isComment{{ joke.id }}" id="comment-all{{ joke.id }}" style="max-height: 400px;overflow: auto;">
                                    {# 评论内容 #}

                                  </div>
                                    <div>{% if username %}
                                        <form action="/comment/" method="post">
                                            {% csrf_token %}
                                              <input type="text" hidden name="joke_id" id="jokeid{{ joke.id }}" value="{{ joke.id }}">
                                              <input type="text" name="comment" id="comment-c{{ joke.id }}" style="width: 75%;border-radius: 5px;border: 1px solid #e3e3e3; height: 30px" required>
{#                                            <input type="submit" id="commit{{ joke.id }}" hidden>#}
                                              <button type="button" id="comment-commit{{ joke.id }}" autocomplete="off" class="btn btn-primary" data-loading-text="loading..">评论</button>
                                            <script>
                                                $("#comment-commit{{ joke.id }}").click(function () {
                                                    {#$("#commit{{ joke.id }}").click();#}

                                                    var $btn = $(this).button('loading');
                                                    addComment($("#jokeid{{ joke.id }}").val(), $("#comment-c{{ joke.id }}").val());
                                                    $("#comment-c{{ joke.id }}").val("");
                                                    $btn.button('reset');
                                                })
                                            </script>
                                          </form>
                                          {% else %}
                                            <form action="/comment/" method="post">
                                              <input type="text" style="width: 75%;border-radius: 5px;border: 1px solid #e3e3e3; height: 30px">
                                              <button type="button" disabled="disabled" id="comment-commit{{ joke.id }}" class="btn btn-primary">评论</button>
                                            </form>
                                          {% endif %}
                                    </div>
                                </div>

{#弹窗式评论#}
{#                                <div class="modal fade" id="commentModel{{ joke.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 200px; max-height: 400px; overflow: auto;">#}
{#                                  <div class="modal-dialog" role="document">#}
{#                                    <div class="modal-content">#}
{#                                      <div class="modal-header">#}
{#                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="hidden-login" aria-hidden="true">&times;</span></button>#}
{#                                        <h4 class="modal-title" style="position: absolute" id="exampleModalLabel">自古评论出大神</h4>#}
{#                                      </div>#}
{#                                      <div class="modal-body" id="comment_detail{{ joke.id }}">#}
{#                                          <div class="form-group" id="comment-all{{ joke.id }}">#}
{#                                            <label for="recipient-name" class="control-label" id="comment_user{{ joke.id }}"><a#}
{#                                                    href="#">用户123231：</a></label>#}
{#                                            <input type="email" name="email" class="form-control" id="recipient-name" required>#}
{#                                              <p id="content-detailx">哎呀呀，暂时没有人评论哦！快来抢沙发吧。</p>#}
{#                                          </div>#}
{##}
{##}
{##}
{#                                          <p id="login-message" style="color: red;"></p>#}
{#                                      </div>#}
{#                                        {% if username %}#}
{#                                      <div class="modal-footer">#}
{#                                          <form action="/comment/" method="post">#}
{#                                            {% csrf_token %}#}
{#                                              <input type="text" hidden value="{{ joke.id }}">#}
{#                                              <input type="text" style="width: 75%;border-radius: 5px;border: 1px solid #e3e3e3; height: 30px">#}
{#                                              <button type="button" id="comment-commit{{ joke.id }}" class="btn btn-primary">评论</button>#}
{#                                          </form>#}
{#                                          {% else %}#}
{#                                            <form action="/comment/" method="post">#}
{#                                              <input type="text" style="width: 75%;border-radius: 5px;border: 1px solid #e3e3e3; height: 30px">#}
{#                                              <button type="button" disabled="false" id="comment-commit{{ joke.id }}" class="btn btn-primary">评论</button>#}
{#                                            </form>#}
{#                                          {% endif %}#}
{#                                      </div>#}
{#                                    </div>#}
{#                                  </div>#}
{#                                </div>#}

                  </div>
                </div>


{#--------------------comment-end--------------------------------------------#}

                  <script>
                        $(function () {
                            $.ajax({
                            url: "/jokeic/",
                            type: 'get',
                            async: true,
                            data: {
                                "joke_id": {{ joke.id }}
                            },
                            success: function (result) {
                                info = result.split(',');

                                if (info.length > 3){

                                    if (info[1] === '1' && info[3] === '0'){
                                        $("#setpon{{ joke.id }}").addClass("disabled");
                                        $("#setpon{{ joke.id }}").attr("disabled", "disabled");
                                        $("#fabulous{{ joke.id }}").text('点赞成功('+info[0]+')');
                                        $("#setpon{{ joke.id }}").text('点踩('+info[2]+')');
                                        $("#comment{{ joke.id }}").text('评论('+info[4]+')');
                                    }else if (info[1] === '0' && info[3] === '1') {
                                        $("#fabulous{{ joke.id }}").addClass("disabled");
                                        $("#fabulous{{ joke.id }}").attr("disabled", "disabled");
                                        $("#fabulous{{ joke.id }}").text('点赞('+info[0]+')');
                                        $("#setpon{{ joke.id }}").text('点踩成功('+info[2]+')');
                                        $("#comment{{ joke.id }}").text('评论('+info[4]+')');
                                    } else if (info[1] === '1' && info[3] === '1') {
                                        $("#fabulous{{ joke.id }}").addClass("disabled");
                                        $("#fabulous{{ joke.id }}").attr("disabled", "disabled");
                                        $("#setpon{{ joke.id }}").addClass("disabled");
                                        $("#setpon{{ joke.id }}").attr("disabled", "disabled");
                                        $("#fabulous{{ joke.id }}").text('点赞成功('+info[0]+')');
                                        $("#setpon{{ joke.id }}").text('点踩成功('+info[2]+')');
                                        $("#comment{{ joke.id }}").text('评论('+info[4]+')');
                                    }else {
                                        $("#fabulous{{ joke.id }}").text('点赞('+info[0]+')');
                                        $("#setpon{{ joke.id }}").text('点踩('+info[1]+')');
                                        $("#comment{{ joke.id }}").text('评论('+info[2]+')');
                                    }


                                }else {
                                    $("#fabulous{{ joke.id }}").text('点赞('+info[0]+')');
                                    $("#setpon{{ joke.id }}").text('点踩('+info[1]+')');
                                    $("#comment{{ joke.id }}").text('评论('+info[2]+')');
                            }}
                        });
                        });


                        $('#fabulous{{ joke.id }}').click(function () {
                            let va = $('#fabulous{{ joke.id }}').text();
                            let cancel_fabulous = va.slice(0,4);
                            if (cancel_fabulous === "点赞成功"){
                                $("#fabulous{{ joke.id }}").click(
                                    cancel_fabulous_setpon({{ joke.id }}, 1, va.slice(5, -1)),
                                    $('#setpon{{ joke.id }}').removeAttr("disabled"),
                                    $('#setpon{{ joke.id }}').removeClass("disabled"),
                                )
                            }else {
                                let num = va.slice(3, -1);
                                fabulous_setpon({{ joke.id }}, 1, num);
                                $("#setpon{{ joke.id }}").attr('disabled', "disabled");
                                $("#setpon{{ joke.id }}").addClass("disabled");
                                {#$("#setpon{{ joke.id }}").unbind("click");#}
                            }
                        });
                        $("#setpon{{ joke.id }}").click(function () {
                            let va = $('#setpon{{ joke.id }}').text();
                            let cancel_setp_on = va.slice(0,4);
                            if (cancel_setp_on === "点踩成功"){
                                $("#setpon{{ joke.id }}").click(
                                    cancel_fabulous_setpon({{ joke.id }}, 2, va.slice(5, -1)),
                                    $('#fabulous{{ joke.id }}').removeAttr("disabled"),
                                    $('#fabulous{{ joke.id }}').removeClass("disabled"),
                                )
                            }else {
                                let num = va.slice(3, -1);
                                fabulous_setpon({{ joke.id }}, 2,  num);
                                $("#fabulous{{ joke.id }}").attr('disabled', "disabled");
                                $("#fabulous{{ joke.id }}").addClass("disabled")
                            }
                                {#$("#fabulous{{ joke.id }}").unbind("click");#}
                        });

                        {#let str1 = $("#fabulous{{ joke.id }}").text();#}
                        {#let str2 = $("#setpon{{ joke.id }}").text();#}
                        {#console.log(str1, str2);#}
                        {#if (str1.slice(0,3) === "赞过了"){#}
                        {#    $("#setpon{{ joke.id }}").click(cancel_fabulous_setpon({{ joke.id }}, 1, info[0]))}#}
                        {##}
                        {#if (str2.slice(0,3) === "踩过了"){#}
                        {#    $("#setpon{{ joke.id }}").click(cancel_fabulous_setpon({{ joke.id }}, 2, info[2]))}#}


                  </script>
              {% empty %}
                  <p style="text-align: center">------------底线-------------</p>
              {% endfor %}


              </div>
            </div>

        </div>
{% endblock container %}
    {% block page %}
    <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
    </div>
    <p>{{ joke_list.length }}</p>

        <nav aria-label="Page navigation" class="container" style="text-align: center;">
          <ul class="pagination">
              {% if joke_index == 1 %}
                    <li class="disabled ">
                      <a href="javascript:" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
              {% else %}
                      <li>
                          <a href="/index/?page={{ joke_index|add:-1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
              {% endif %}
                <li><a href="javascript:">{{ joke_index }}/{{ all_page }}</a></li>
              {% if joke_index == all_page %}
                  <li class="disabled">
                      <a href="javascript:" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  {% else %}
                  <li>
                      <a href="/index/?page={{ joke_index|add:1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              {% endif %}
                <li style="margin-left: 30px">跳转至第
                    <input type="number" style="width: 30px" id="pages" value="{{ joke_index }}"  name="page_turning">页
                        <input type="submit" class="btn btn-default" value="跳" id="enter_page">
                </li>
              <script>
                  $("#enter_page").click(function () {
                      let page = parseInt($("#pages").val());
                      console.log(typeof page, page);
                      if (page<1){
                          alert('请输入大于0的整数')
                      } else if(page > {{ all_page }}){
                          alert('请输入小于页码总数的整数')
                      }else {
                          window.location.href = '/index/?page='+page
                      }
                  })
              </script>


          </ul>
        </nav>
    {% endblock page %}
    {% block footer %}
    <div class="footer">
        <p class="footer-p" style="text-align: center; color:#e0e0e0;">网站归属权为个人所有，如有侵犯版权，请立即联系站长删除 邮箱：<a style="color:red;" href="mailto:skrlen@foxmail.com">skrlen@foxmail.com</a></p>
    </div>
    {% endblock footer %}

    <script>

        $(function () {
            $('#exampleModal').modal('hide')
        });

        $('#exampleModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var recipient = button.data('whatever');
          var modal = $(this);
          modal.find('.modal-body input').val(recipient)
        });
        function fabulous_setpon (joke_id, joke_type, now_count ){
            $.ajax({
                url: '/jokeic/',
                type: 'post',
                {#async: false,#}
                data: {
                    "joke_id": joke_id,
                    "data_type": joke_type,
                    "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function (result) {
                    if (joke_type === 1){
                        $("#fabulous"+joke_id).text(result+'('+(parseInt(now_count)+1)+')')
                    }else {
                        $("#setpon"+joke_id).text(result+'('+(parseInt(now_count)+1)+')')
                    }
                }
            })
        }
        function cancel_fabulous_setpon (joke_id, joke_type, now_count ){
            $.ajax({
                url: '/jokeic/',
                type: 'delete',
                {#async: false,#}
                headers: {
                    "X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').val()
                },
                data: {
                    "joke_id": joke_id,
                    "data_type": joke_type
                },
                success: function (result) {
                    if (joke_type === 1){
                        $("#fabulous"+joke_id).text('点赞('+(parseInt(now_count)-1)+')')
                    }else {
                        $("#setpon"+joke_id).text('点踩('+(parseInt(now_count)-1)+')')
                    }
                }
            })
        }
    </script>

<script>
    $(function(){
        $(".big-image").click(function(){
            var _this = $(this);//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
    });

     function sleep(milliSeconds) {
        var startTime = new Date().getTime();
        while (new Date().getTime() < startTime + milliSeconds) {
            console.log(new Date().getTime());
        }//暂停一段时间 1000=1S。
    }

    function addComment(joke_id, comment) {
        $.ajax({
            url: '/comment/',
            type: 'post',
            data: {
                "joke_id": joke_id,
                "comment": comment,
                "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()
            },
            success: function (e) {
                let comment_js = $.parseJSON(e);
                for (let qw in comment_js){
                    {#console.log(comment_js[qw][0], comment_js[qw][1], comment_js[qw][2]);#}
                    let self_element = '<div class="form-group" id="comment-all'+joke_id+'">\n' +
                                                  '<label for="recipient-name" class="control-label" id="comment_user'+joke_id+'"><img src="/static'+comment_js[qw][2]+'" class="img-circle" style="width: 30px" alt="user_headImg'+joke_id+'"><a\n' +
                                                  'href="#" style="margin-left: 15px">'+comment_js[qw][0]+'：</a></label>\n' +
                                                  '<p id="content-detail'+joke_id+'">'+comment_js[qw][1]+'</p>\n' +
                                                  '</div>';
                {#console.log(self_element);#}
                $("#comment-all"+joke_id).append(self_element)
                }

            }
            })
    }

    function imgShow(outerdiv, innerdiv, bigimg, _this){
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性

            /*获取当前点击图片的真实大小，并显示弹出层及大图*/
        $("<img/>").attr("src", src).load(function(){
            var windowW = $(window).width();//获取当前窗口宽度
            var windowH = $(window).height();//获取当前窗口高度
            var realWidth = this.width;//获取图片真实宽度
            var realHeight = this.height;//获取图片真实高度
            var imgWidth, imgHeight;
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

            if(realHeight>windowH*scale) {//判断图片高度
                imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放
                imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度
                if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度
                    imgWidth = windowW*scale;//再对宽度进行缩放
                }
            } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度
                imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放
                            imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度
            } else {//如果图片真实高度和宽度都符合要求，高宽不变
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
                    $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放

            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
        });

        $(outerdiv).click(function(){//再次点击淡出消失弹出层
            $(this).fadeOut("fast");
        });
    }
</script>

</body>
</html>