.user_img{
    padding-left: 20px;
    padding-top: 20px;
}
.login_form{
    margin: 0 auto;
    text-align: center;
}
.login_email{

}
.login_head{
    margin-top: 100px;
}
.passwd_err{
    color: red;
}
.footer{
    width: 100%;
    background-color: #3c3c3c;
}
.footer-p{
    text-align: center;
}
.footer-span{
    color: red;
}
.upload-form{
    margin: 0 auto;
    text-align: center;
    border: 1px solid #c1e2b3;
}
